SMTP_EMAIL='SMTP_EMAIL'
SMTP_PASSWORD='SMTP_PASSWORD'
SMTP_HOSTNAME='SMTP_HOSTNAME'

SUPERADMIN_EMAIL='SUPERADMIN_EMAIL'
SUPERADMIN_PASSWORD='SUPERADMIN_PASSWORD'
SUPERADMIN_COMPANY_NAME='SUPERADMIN_COMPANY_NAME'