<div class="container py-2 py-md-5">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <h1 class="display-2 mb-0">Invoices</h1>
    <%= link_to 'Create Invoice', new_invoice_path, class: 'btn btn-primary' %>
  </div>

  <div class="card">
    <div class="card-body p-3">
      <!-- Tab Navigation -->
      <ul class="nav nav-tabs mb-4" id="invoiceTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="sales-tab" data-bs-toggle="tab" data-bs-target="#sales" type="button" role="tab">
            Sales
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="purchases-tab" data-bs-toggle="tab" data-bs-target="#purchases" type="button" role="tab">
            Purchases
          </button>
        </li>
      </ul>

      <!-- Tab Content -->
      <div class="tab-content" id="invoiceTabsContent">
        <!-- Sales Tab -->
        <div class="tab-pane fade show active" id="sales" role="tabpanel" aria-labelledby="sales-tab">
          <%= render partial: 'invoices/partials/index_invoice_table', locals: { invoices: @invoices_sale, table_id: 'sales-table' } %>
        </div>

        <!-- Purchases Tab -->
        <div class="tab-pane fade" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">
          <%= render partial: 'invoices/partials/index_invoice_table', locals: { invoices: @invoices_purchase, table_id: 'purchases-table' } %>
        </div>
      </div>


    </div>
  </div>
</div>
