<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Tax Form Hub</a>
    <% if user_signed_in? %>
      <div class="d-flex align-items-center">
        <span class="text-muted me-2">Hello, <strong><%= current_user.email %></strong></span>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger btn-sm mb-0" %>
      </div>
    <% end %>
  </div>
</nav>


<div class="container-fluid mt-5">
  <h1 class="mb-4 text-center">Client Submissions</h1>

  <ul class="nav nav-tabs mb-3" id="submissionTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#activeSubmissions" type="button" role="tab" aria-controls="activeSubmissions" aria-selected="true">
        Active Submissions
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="archived-tab" data-bs-toggle="tab" data-bs-target="#archivedSubmissions" type="button" role="tab" aria-controls="archivedSubmissions" aria-selected="false">
        Archived Submissions
      </button>
    </li>
  </ul>

  <div class="tab-content" id="submissionTabsContent">
    <!-- Active Tab -->
    <div class="tab-pane fade show active" id="activeSubmissions" role="tabpanel" aria-labelledby="active-tab">
      <%= render partial: "submission_table", locals: { submissions: @unarchived_submissions, table_id: "taxSubmissionsTableActive", archived_table: false } %>
    </div>

    <!-- Archived Tab -->
    <div class="tab-pane fade" id="archivedSubmissions" role="tabpanel" aria-labelledby="archived-tab">
      <%= render partial: "submission_table", locals: { submissions: @archived_submissions, table_id: "taxSubmissionsTableArchived", archived_table: true } %>
    </div>
  </div>
</div>
