<% content_for :page_title, "Tax Form Hub" %>
<div class="container py-2 py-md-5">
  <p class="lead">Submit 2307 and Payment Receipt</p>
  <%= link_to "Submit Documents", new_tax_submission_path, class: "btn btn-primary btn-md mt-1" %>
</div>

<div class="container mt-2">
  <ul class="custom_nav_tabs nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#unarchived">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#archived">Archived</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="unarchived">
      <%= render partial: 'submission_table', locals: { submissions: @unarchived_submissions, archived_table: false } %>
    </div>
    <div class="tab-pane fade" id="archived">
      <%= render partial: 'submission_table', locals: { submissions: @archived_submissions, archived_table: true } %>
    </div>
  </div>
</div>
