<div class="container py-5 text-center">
  <h1 class="display-4">Welcome to Tax Form Hub</h1>
  <p class="lead">Tax document submission.</p>
  <%= link_to "Start Submission", new_client_submission_path, class: "btn btn-primary btn-lg mt-3" %>
</div>
